@import "/assets/scss/variables";

.search-container{
    border-radius: 20px;
    width: 65vw;
    margin: auto;
    margin-top: 8vw;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    .search-input{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 5vw;
        margin-bottom: 4vw;
        label{
            color: white;
            font-family: $primary-font;
            font-weight: 800;
            font-size: 150%;
            margin-bottom: 28px;
        }
        input{
            border-radius: 20px;
            border: none;
            height: 5vh;
            width: 50vw;
            max-width: 280px;
            min-width: 200px;
            max-height: 80px;
            min-height: 50px;
            text-indent: 1.5vh;
        }
    }
    .search{
        border: none;
        background-color: transparent;
        color: white;
        font-family: $secondary-font;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 800;
        position: relative;
        display: flex;
        align-items: center;
        padding: 0.5vw 1vw;
        &:hover{
            color: white;
            cursor: pointer;
            background-color: $secondary;
            opacity: 0.5;
            border-radius: 10px;
        }
    }
    .movies-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        list-style: none;
        width: 75vw;
        .movie{
            background: rgba(255, 255, 255, 0.1);
            width: 30vw;
            height: 60vw;
            min-width: 50px;
            min-height: 60px;
            max-width: 170px;
            max-height: 280px;
            margin: 5px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 20px 10px;
            border-radius: 10px;
            animation: scale-up-center .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            h6{
                color: white;
                font-family: $secondary-font;
                font-size: 0.65rem;
                margin: 6px 0;
                width: 7rem;
                font-weight: 800;
            }
            img{
                height: 40vw;
                width: 27vw;
                max-width: 150px;
                max-height: 190px;
                min-width: 70px;
                min-height: 100px;
                &:hover{
                    opacity: 0.5;
                    cursor: pointer;
                }
            }
            .more-details{
                position: absolute;
                background-color: black;
                height: 40vw;
                width: 27vw;
                max-width: 150px;
                max-height: 190px;
                min-width: 70px;
                min-height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $secondary-font;
                text-transform: uppercase;
                font-weight: 800;
                padding: 0;
                opacity: 0;
                &:hover{
                    opacity: 0.5;
                }
            }
        }
    }
    .pagination{
        display: flex;
        .pagination-btn{
            margin: 2vw 15vw;
            font-size: 1rem;
            padding: 0.5vw 1vw;
            text-transform: uppercase;
            font-weight: 600;
            display: flex;
            align-items: center;
            &:hover{
                background-color: $secondary;
                opacity: 0.5;
                border-radius: 10px;
            }
        }
    }
}